/****************************** Start of Common Styling Elements ******************************/
/**********  Universal Selectors **********/
*{
    box-sizing: border-box;
    margin: 0px; border: 0px; padding: 0px;
}
/********** Importing Custom Font **********/
@font-face {
    font-family: MonotypeCorsiva;
    src: url(../fonts/mtcorsva.ttf);
}
/********** Repeating Tiled Background **********/
.tiledBg{
    background: url(../images/lightBannerTBG.png);
    position: fixed;
    width: 120vw; height: 120vh;
    left: -50px;
    z-index: -1;
}
/****************************** End of Common Styling Elements ******************************/



/****************************** Start of Body Elements Styling ******************************/
/********** Start of Body **********/
body{
    background-color: #A40000;
    font-family: MonotypeCorsiva;
    font-size: 32px;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/********** End of Body **********/

/********** Start of Header **********/
header{
    background-color: #f6b319;
}
#header-nav{ /* https://stackoverflow.com/questions/17934332/how-do-i-position-an-image-at-the-bottom-of-div */
    position: relative;
    width: 100%;
    height: auto;
    min-height: 0px;
    top: 30px;
}
#header-nav .scroll{
    width: 100%;
    height: auto;
    max-height: 244px;
}
#logo-img{
    width: 25%;
    height: auto;
}
#btn-holder{
    position: absolute;
    width: 80%;
    height: 50px;
    margin: 0px auto;
    top: 50%;
    transform: translate(0%, -50%);
    left: 0%;
    right: 0%;
    padding: 1px;
    /* background: #0fe68c; */

    /* position: relative;
    display: inline-block;
    vertical-align: middle; */
    
    /* The solution to center buttons https://www.stechies.com/center-css-button/ */
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-home{
    background: transparent;
    background-image: url(../images/homeIcon.png);
    background-size: cover;
    width: 120px;
    height: 120px;
    font-size: 1em;
    text-align: center;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, 0%); */
}
#btn-home:hover{
    cursor: pointer;
}
#header-nav .btn{
    background-color: red;
    border: 5px solid black;
    color: white;
    width: 120px;
    height: 38px;
    font-size: 25px;
    text-align: center;
    font-family: MonotypeCorsiva;
    margin: 0px 8px 0px 8px;
}
#header-nav .btn:hover{
    background-color: rgb(197, 57, 57);
    cursor: pointer;
}
/********** End of Header **********/

/********** Start of Main Content **********/
.main-scroll{
    background-image: linear-gradient(to bottom, #BFA41B, #E6CD4F, #E6CD4F, #BFA41B);
    border: 10px solid black;
    width: 80%;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.main-container h1{
    font-size: 64px;
    padding: 25px;
    text-align: center;
}
#main-content p{
    padding: 5px;
}
#main-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    border: 0.25em solid black;
}
/********** End of Main Content **********/

/********** Start of Footer **********/
footer{
    /* margin-top: 0px; */
    /* border-top: 0px; */
    /* padding-top: 35px; */
    /* padding-bottom: 0px; */
    /* margin-top: auto; */
    background-color: #040a20;
    color: white;
}
#footer-nav{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 0px;
    top: -30px;
}
.panel-footer .scroll{
    width: 100%;
    height: auto;
    max-height: 244px;
}
.panel-footer div.container{
    margin: 0px;
    padding: 0px;
}
.panel-footer div.row{
    margin-bottom: 35px;
    border-radius: 0px;
}
/********** End of Footer **********/
/****************************** End of Body Elements Styling ******************************/



/****************************** Start of Responsive Web Design ******************************/
/**************** Desktop View ****************/
@media (min-width:992px)
{
    .col{
        float: left;
        width: 33%;
    }
}
/****************Tablet View****************/
@media (min-width:768px) and (max-width:991px)
{
    .col{
        float: left;
        width: 50%;
    }
    .col-tablet{
        float: left;
        width: 100%;
    }
}
/****************Mobile View****************/
@media (max-width:767px)
{
    .col{
        float: left;
        width: 100%;
    }
}
/****************************** End of Responsive Web Design ******************************/